
@model Portfolio


<form method="post">
	<div class="col-5">


		<label asp-for="PhotoURL"></label>
		<input class="form-control mb-2" asp-for="PhotoURL"/>
		<input class="btn btn-success " type="submit" value="Create"/>
	</div>
	
</form>